#starcell {
    background-color:blue;
    width: 300px;
  }
  
  #stars {
    width: 300px;
    color:white;
  }
  
  #redstripe {
    background-color: red;
    width: 500px;
    height: 30px
      
  }
  
  #whitestripe {
    background-color:white;
    width: 500px;
    height: 30px;
  }