body {
    border: 100px solid rgba(128, 0, 128, 0.6);
    color: #33006f;
    padding: 20px;
    margin: 30px auto;
    font-family: "Ubuntu", sans-serif;
  }
  
  .display-4 {
    font-size: 24px;
  }
  img.profile {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  
  div.jumbotron {
    margin-top: 25px;
    height: 350px;
    font-size: 12px;
    padding: 20px;
    background-color: purple;
  }
  div.carousel-item {
    width: 400;
    height: 310px;
    padding: 20px;
  }
  
  div.background {
    background-color: rgb(128, 0, 128);
  }
  
  div.nav-link {
    background-color: purple;
  }
  
  img.slide {
    width: 400px;
    height: 310px;
  }
  